body {
  margin: 0;
  font-family: "Lucida Grande";
  padding: 0;
  background-color: #f7f7f7;
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(image/gambar.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.top-wrapper h1 {
  /*opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;*/
  font-size: 4rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
     from {
      color: black;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

.btn-wrapper {
  margin: 20px 0;
}
.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(102, 102, 153, 1);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  
  /* Ubah z-index ke 10 */
  z-index: 10;
  font-size: normal;
}

.logo {
  width: 200px;
  margin-top: -70px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  /*background-color: rgba(255, 255, 255, 0.3);*/
  transition: all 0.5s;
  font-family: sans-serif;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-right .icon {
  display: none;
}

/* bagian utama */
.heading h2{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  color: #5f5d60;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-wrapper {
  height: 400px;
  padding-bottom: 80px;
  text-align: center;
}

.lesson-icon {
  position: relative;
  text-align: center;
}

.lesson-icon img{
  width: 170px;
  height: 170px; 
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
  margin-left: 25px;
  text-align: center;
}

footer img {
  width: 100px;
  left: 50%;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  position: absolute;
  left: 43%;
  top: 60%;
}

footer {
  padding-top: 2px;
  text-align: center;
  position: relative;
}




@media screen and (max-width: 1900px) {
.container{
  float: none;
  width: 100%;

 }

 @media screen and (max-width: 640px) {
  .header-right a{display: none;}
  .header-right a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  
  .lesson{
    width: 50%;
    margin: 6px 0;
  }
  
  footer p {
  
  left: 35%;
  
  }


}

@media screen and (max-width: 500px) {
  
  .lesson{
    width: 100%
  
  }
    
}

@media screen and (max-width: 1285px) {
   footer p {
    left: 40%;
  }  
}

@media screen and (max-width: 803px) {
   footer p {
    left: 35%;
  }  
}

@media screen and (max-width: 496px) {
   footer p {
    left: 30%;
  }  
}

@media screen and (max-width: 400px) {
   footer p {
    left: 20%;
  }  
}




input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
